*{
	margin: 0;
	padding:0; 
	font-family: 'times roman';
}
.con2{
    background-color: rgb(0, 255, 242);
    text-align:center;
     text-shadow: 3px 3px rgb(255, 0, 221);
    font-size: 50px;
    padding: 10px;
}
h3{
    font-size: 30px;
    font-style: italic;
}
.con4{
    
    display:flex;
    flex-direction:row;
}
.con5 {
    width: 500px;
    height: 150x;
    padding: 10px;
    margin: 10px 10px;
    border: 2px solid burlywood;
    
}
.con5:hover{
    transform: scale(1.2);
    }